[Unit]
Description=Nodejs server for git pull

[Service]
ExecStart=node /web/www/post-receive/post-receive.js
Restart=always
User=nginx
Group=nginx
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=FRONT_SECRET=df0a64ff6e4a0c93103dd34472f47bfe64b7139d
Environment=BACK_SECRET=5b261bc88e3d8de22bae9bb6fb5426cd68630f9e
WorkingDirectory=/web/www/

[Install]
WantedBy=multi-user.target
